<style>
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
</style>

/* ELEMENT SELECTOR*/

p{
    color: violet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    background-color: cadetblue;       
    color: black;
}



/* CLASS SELECTOR*/

.PARA{
    font-family: cursive;
    color: salmon;
    background-color: bisque;
    font-size: larger;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: line-through;
}

.PARA1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #875282;
    background-color: aquamarine;
}
.smtg{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color:rgb(205, 226, 15)
}


/*ID SELECTOR*/

#para-id{
    font-family:'Cardo', serif ;
    color:forestgreen ;
}



/* UNIVERSAL SELECTOR*/

*{
    margin: 0;
    padding: 0;
    background-color: lavender; 
   
}

/*
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;;
}

h1 {
  font-family: 'Cardo', serif;
  
}
*/

.main-container{
    background-color: lawngreen;
    height: 80px;
    background-image: url("https://images.unsplash.com/photo-1523906834658-6e24ef2386f9?auto=format&fit=crop&w=1950&q=80");
    background-position: center;
    border-color: 2px greenyellow;
    background-size: cover;
    background-attachment: fixed;

}

